body{
	margin: 70px auto;
	width: 660px;
	font-family: "Open Sans", Sans-Serif;
}

h2,
#intro{
	margin-bottom: 30px;
}

.content{
	margin-top: 40px;
}

table
{
	border-radius: 3px;
	border-collapse: collapse;
	text-align: left;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.52);
	font-size: 12px;
}

table th
{
	font-size: 14px;
	font-weight: normal;
	padding: 10px 8px;
	border-bottom: 2px solid #f0f1eb;
}
table td
{
	padding: 9px 8px 0px 8px;
}

table tr{
	border-bottom: 1px solid #f0f1eb;
}

table thead th{
	text-transform: uppercase;
	font-size: 16px;
}

table thead tr{
	height: 70px;
	font-size: 25px;
}

table tfoot,
table tfoot p{
	font-size: 15px;
}

table tfoot{
	border-top: 2px solid #f0f1eb;
}

table p{
	font: 13px/24px Georgia, "Times New Roman", Times, serif;
}

#tbody tr {
	height: 58px;
}

table tfoot tr{
	height: 60px;
}

table .mthd{
	font: bold 14px "Courier New", Courier, mono;
	color: #666666;
}

#tbody tr td .res{
	font-weight: bold;
	font-size: 11px;
}
