.surface,
.ss-dummy,
.ss-caret,
.ss-content > p,
.ss-content {
  margin: 0;
  padding: 0;
}

.surface {
  border: 1px solid #e2e2e2;
  font-style: normal;
  font-family: "Verdana";
  font-weight: normal;
  font-size: 14px;
  vertical-align: baseline;
  padding: .5em;
  position: relative;
  box-sizing: border-box;
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.ss-dummy,
.ss-caret {
  position: absolute;
}

.ss-caret {
  border-left: 2px solid #0297d6;
  height: 1em;
  top: 0;
  left: 0;
}
