.surface,
.surface > div,
.ss-kbd-input,
.ss-caret,
.ss-content
.ss-measure {
  margin: 0;
  padding: 0;
}

.surface {
  border: 1px solid #e2e2e2;
  cursor: text;
  font-style: normal;
  font-family: "Verdana";
  font-weight: normal;
  font-size: 14px;
  padding: .5em;
  position: relative;
  vertical-align: baseline;
  box-sizing: border-box;
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.surface > div {
  position: relative;
}

.ss-content {
  min-height: 1em;
}

.ss-kbd-input {
  border: 1px dashed #afafaf;
  width: 100%;
  min-height: 1em;
  position: absolute;
  top: -60px;
  outline: none;
}

.ss-caret {
  border-left: 1px solid #0297d6;
  height: 1.15em;
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: middle;

/* Caret blinking using CSS3 so probably won't stick */
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out(.5,1,.5,1);
  -webkit-animation-duration: .7s;
}
@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: .1; }
}

.ss-measure {
  border: 1px dashed #cfcfcf;
  position: absolute;
  top: -90px;
  outline: none;
}
