
/* Node
-------------------------------------------------------------------------------*/

#container .surface {
  padding: 50px 60px;
}

/* Generic node styles */
#container .surface .content-node {
  position: relative;
}


/* Textish Behavior
-------------------------------------------------------------------------------*/


.content-node.text .content, .content-node.heading .content {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
}


/* Text Node (Later Paragraph?)
-------------------------------------------------------------------------------*/

.content-node.text {
  padding: 20px 0px;
}

.content-node.text .content {
  min-height: 20px;
}

/* Heading Node
-------------------------------------------------------------------------------*/

.content-node.heading {
  padding: 20px 0px;
}

.content-node.heading .content {
  min-height: 30px;
}

/* Cursor
-------------------------------------------------------------------------------*/

.content-node .cursor {
  position: absolute;
  height: 20px;
  width: 2px;
  background: #00ACEA;
}

.content-node.heading .cursor {
  height: 30px;
}

.content-node.image .cursor {
  /*top: 0px;*/
  /*bottom: 0px;*/
  /*right: 0px;*/
  /*width: 20px;*/
  height: 100%;
  /*height: 30px;*/
}


.content-node .idea { background-color: rgba(102, 182, 32, 0.3); }
.content-node .question { background-color: rgba(16, 167, 222, 0.3); }
.content-node .error { background-color: rgba(237, 96, 48, 0.3); }
.content-node .link { color: #DC4A1D; text-decoration: underline;}
.content-node .inline-code {
  font-family: Consolas, "Liberation Mono", Courier, monospace; background: #eee; font-size: 15px
  -webkit-font-smoothing: subpixel-antialiased;
}

/* Highlighted states */
.content-node .idea.highlight { background-color: rgba(102, 182, 32, 0.6); }
.content-node .question.highlight { background-color: rgba(16, 167, 222, 0.6);}
.content-node .error.highlight { background-color: rgba(237, 96, 48, 0.6); }

/* Selected states */

.content-node .content span.selected { background: rgba(0,0,0,0.08); }

.content-node .content .idea.selected { background-color: rgba(102, 182, 32, 0.4); }
.content-node .content .question.selected { background-color: rgba(16, 167, 222, 0.4);}
.content-node .content .error.selected { background-color: rgba(237, 96, 48, 0.4); }


.content-node.text .emphasis { font-style: italic; }
/*.content-node.text .link { background-color: #00CFEA; }*/
.content-node.text .strong { font-weight: bold; }


/* Code Node
-------------------------------------------------------------------------------*/

.content-node.code {

}

.content-node.code .content {
  background: #eee;
  padding: 10px 80px;
  padding-right: 60px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 14px;
  line-height: 18px;
}


/* Heading Node
-------------------------------------------------------------------------------*/

.content-node.heading { }


.content-node.heading .content {
  font-family: 'Montserrat';
  font-size: 30px;
  line-height: 30px;
}

.content-node.heading.level-2 .content {
  font-size: 20px;
}

.content-node.heading.level-3 .content {
  font-size: 17px;
}


/* Image Node
-------------------------------------------------------------------------------*/

.content-node.image { }


.content-node.image .content {
  padding: 0px;
}

.content-node.image div.image-char {
  /*width: 100%;*/
}

.content-node.image div.selected .overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0,169, 255, 0.25);
}

/*.content-node.image div.selected .overlay {
  
}*/

.content-node.image div img {
  width: 100%;
}