/* Surface
-------------------------------------------------------------------------------*/

#container .surface {

}

/* Very important dude */
/* Makes sure .nodes is used as a reference for absolute positioning */
#container .surface .nodes {
  position: relative;
}

/* Generic node styles */
#container .surface .content-node {
  position: relative;
}

.content-node {
  margin: 0 60px;
}


/* Cursor
-------------------------------------------------------------------------------*/

.content-node .cursor {
  position: absolute;
  top: 22px;
  height: 20px;
  width: 2px;
  background: #00ACEA;
}

/*
  blinking from http://codepen.io/hofweber/pen/vbJHc
  thanks patch!
*/

.content-node .cursor {
  -webkit-animation: blink 1.2s step-end infinite;
     -moz-animation: blink 1.2s step-end infinite;
      -ms-animation: blink 1.2s step-end infinite;
       -o-animation: blink 1.2s step-end infinite;
          animation: blink 1.2s step-end infinite;
}

@-webkit-keyframes blink {0% {background: #00ACEA} 50% {background: transparent;}}
   @-moz-keyframes blink {0% {background: #00ACEA} 50% {background: transparent;}}
    @-ms-keyframes blink {0% {background: #00ACEA} 50% {background: transparent;}}
     @-o-keyframes blink {0% {background: #00ACEA} 50% {background: transparent;}}
        @keyframes blink {0% {background: #00ACEA} 50% {background: transparent;}}

.content-node.heading .cursor {
  height: 30px;
}

.content-node.image .cursor {
  height: 100%;
}



/* Annotations
// TODO: this should be moved outside the surface
-------------------------------------------------------------------------------*/

.content-node .idea { background-color: rgba(102, 182, 32, 0.3); }
.content-node .question { background-color: rgba(16, 167, 222, 0.3); }
.content-node .error { background-color: rgba(237, 96, 48, 0.3); }
.content-node .link { color: #DC4A1D; text-decoration: underline;}
.content-node .inline-code {
  font-family: Consolas, "Liberation Mono", Courier, monospace; background: #eee; font-size: 15px
  -webkit-font-smoothing: subpixel-antialiased;
}

/* Highlighted states */

.content-node .idea.highlight { background-color: rgba(102, 182, 32, 0.6); }
.content-node .question.highlight { background-color: rgba(16, 167, 222, 0.6);}
.content-node .error.highlight { background-color: rgba(237, 96, 48, 0.6); }

/* Selected states */

.content-node .content span.selected { background: rgba(0,0,0,0.08); }

.content-node .content .idea.selected { background-color: rgba(102, 182, 32, 0.4); }
.content-node .content .question.selected { background-color: rgba(16, 167, 222, 0.4);}
.content-node .content .error.selected { background-color: rgba(237, 96, 48, 0.4); }

/* Em, Strong, Link */

.content-node .emphasis { font-style: italic; }
.content-node .link { background-color: #00CFEA; }
.content-node .strong { font-weight: bold; }
